html {
	box-sizing: border-box;
}

.header {
	margin-top: 2em;
	margin-bottom: 1em;
}

.input-group {
	margin-bottom: 2rem;
}

.btn {
	border-radius: 0 .25rem .25rem 0;
	margin-left: -1px;
}

.btn-default {
	border-color: #ccc;
}

.imageCard {
	height: 169px;
	width: 100%;
	display: block;
}

.imageCard img {
	height: 100%;
	width: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}